@import "tailwindcss";

input,
textarea,
[contenteditable="true"],
input[type="password"],
input[type="text"],
input[type="email"] {
  user-select: text !important;
  -webkit-user-select: text !important;
  -webkit-touch-callout: default !important;
}

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  touch-action: pan-y pan-x; /* impede pinch-zoom em dispositivos touch */
  zoom: 1;
  user-select: none;
  -webkit-user-select: none; /* propriedade não padrão, mas suportada em vários navegadores */
  -webkit-text-size-adjust: 100%; /* impede ajuste automático do tamanho do texto no iOS */
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
